

.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0px;
    margin: 0px;
       
}


.grid{
  display: flex;
  justify-content: center;
    margin: 0;
    padding: 0;
}


.refresh-button{
    display:flex;
    justify-content: center;
    
}

button{
    font-size: 50px;
}